{% extends "base.html" %}
{% block content %}

<h2>Update a Member</h2>
<div class = "content_edit_member">
<form action="/members/{{ member.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ member.name }}" autocomplete="off">
        <select name="membership" id="membership">
        <option selected="selected">{{member.membership}}</option>
        <option value = "deactivated">Deactivated</option>
        <option value="standard">Standard</option>
        <option value="premium">Premium</option>
        <input type="submit">
    </div>
</form>
</div>

{% endblock %}