{% extends "base.html" %}
{% block content %}

<h2>Members</h2>


<div class= "create_form">
    <form action="/members" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="members">Membership:</label>
        <select name="membership" id="memberships">
        <option value = "deactivate">Deactivate</option>
        <option value="standard">Standard</option>
        <option value="premium">Premium</option>
        <input type="Submit" value= "Create">
    </div>
    </form>
</div>
<div class = "content">

{% for member in members %}

<section class = "member">
    <img class = "member_avatar" src = "static/img/PinClipart.com_playing-video-games-black_1486972.png">
    <p>{{ member.name }}</p>
    <a href="/members/{{ member.id }}/edit">Edit</a>
    <form action="/members/{{ member.id }}/delete" method="POST">
        <input class = "delete" type="submit" value="X">
    </form>
</section>
{% endfor %}
</div>
{% endblock %}