{% extends "base.html" %}
{% block content %}

<h2>Add Class</h2>

<div class= "classes_form">
    <form action="/gym_classes" method="POST">
    <div>
        <label for="tilte">Title:</label>
        <input type="text" id="title" name="title" class ="add_member_form" required="required">
        <label for="sport">Sport:</label>
        <input type="text" id="sport" name="sport" class ="add_member_form" required="required">
        <label for="coach">Coach:</label>
        <select name="coach_id" id="coach" class ="add_member_form" required="required">
            {% for coach in coaches %}
            <option value="{{ coach.id }}">
                {{ coach.name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <label for="capactity">Capacity:</label>
        <input type="number" id="capacity" name="capacity" class ="add_member_form" required="required">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" class ="add_member_form" required="required">
        <label for="start_time">Start time:</label>
        <input type="time" id="start_time" name="start_time" class ="add_member_form">
        <label for="date">End time:</label>
        <input type="time" id="end_time" name="end_time" class ="add_member_form">
        <input type="Submit" value= "Create" class ="add_member_form">
    </div>
    </form>
</div>

{% endblock  %}
