{% extends "base.html" %}
{% block content %}

<h2>Classes</h2>

<div class= "create_form">
    <form action="/coaches" method="POST">
    <div>
        <label for="tilte">Title:</label>
        <input type="text" id="title" name="title">
        <label for="sport">Sport:</label>
        <input type="text" id="sport" name="sport">
        <label for="capactity">Capacity:</label>
        <input type="number" id="capacity" name="capacity">
        <br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
        <label for="start_time">Start time:</label>
        <input type="time" id="start_time" name="start_time">
        <label for="date">End time:</label>
        <input type="time" id="end_time" name="end_time">
        <input type="Submit" value= "Create">
    </div>
    </form>
</div>
<div class = "content">

{% for gym_class in gym_classes %}

<section class = "gym_class">
    <img class = "class_img" src = "static/img/PinClipart.com_playing-video-games-black_1486972.png">
    <p>{{ gym_class.title }}</p>
    <p>{{ gym_class.date }}</p>
    <p>{{ gym_class.start_time }} - {{ gym_class.end_time }}</p>
    <a href="/gym_classes/{{ gym_class.id }}/edit">Edit</a>
    <form action="/gym_classes/{{ gym_class.id }}/delete" method="POST">
        <input class = "delete" type="submit" value="X">
    </form>
</section>
{% endfor %}
</div>
{% endblock %}