{% extends "base.html" %}
{% block content %}

<h2>Classes</h2>


<div class = "content">
        <a href="/gym_classes/add"><div class ="add_class" ><img class = "add_img" src="static/img/append+circle+create+green+new+plus+icon-1320196710849480257_512.png"></div></a>
{% for gym_class in gym_classes %}

<section class = "gym_class">
    <img class = "class_img" src = "static/img/Screenshot 2021-12-14 at 23.39.18.png" width = 100%>
    <div class="class_container">
    <p>{{ gym_class.title }}</p>
    <p>{{ gym_class.date }}</p><br>
    <form action="/gym_classes/{{ gym_class.id }}/delete" method="POST">
        <input class = "delete" type="submit" value="X">
    </form>
    <a href="/gym_classes/{{ gym_class.id }}/edit" class = "edit"><span style='font-size:20px;'>&#9998;</span></a>
    </div>
</section>
{% endfor %}
</div>
{% endblock %}