{% extends "base.html" %}
{% block content %}

<h2>**********</h2>

<div class = "content">

<section class = "gym_class_calendar">
    <img class = "class_img" src = "static/img/Screenshot 2021-12-13 at 10.52.38.png">
    <p>{{ gym_class.title }}</p>
    <p>{{ gym_class.coach.name }}</p>
    <p>{{ gym_class.date }}</p>
    <p>{{ gym_class.start_time }} - {{ gym_class.end_time }}</p>
    <p>capacity: {{num_booked_in}} /{{gym_class.capacity}}</p>
    {% if gym_class.capacity > num_booked_in %}  
    <form action="/bookings/{{ gym_class.id }}" method="POST">
        <form action="/bookings" method="POST">
        <select name="member_id" id="member">
                {% for member in members %}
                {% if member.id not in booked_in %}
                <option value="{{ member.id }}">{{ member.name }}</option>
                
        
                {% endif %}
                {% endfor %}
                <input type="Submit" value= "Book">
        </form>
        </select>
    {% endif %}
    {% if gym_class.capacity <= num_booked_in %} 
    <p>CLASS FULL</p>
    {% endif %}
    {% for member in booked_in_members %}
    <stretch><li><img src="/static/img/PinClipart.com_playing-video-games-black_1486972.png" class = "small_member_pic">{{member.name}}    
    <form action="/bookings/{{ member.id }}/{{ gym_class.id }}/delete" method="POST">
        <input class = "delete" type="submit" value="X">
    </form></li></stretch>
    {% endfor %}
</section>

</div>
{% endblock %}