{% extends "base.html" %}
{% block content %}

<h2>{{gym_class.title}}</h2>


<section class = "gym_class_calendar">
    <header class= "booking_header">
    <p>{{ gym_class.title }}</p>
    <p>{{ gym_class.coach.name }}</p>
    <p>{{ gym_class.date }}</p>
    <p>{{ gym_class.start_time }} - {{ gym_class.end_time }}</p>
    <p>capacity: {{num_booked_in}} /{{gym_class.capacity}}</p>
    
    {% if gym_class.capacity > num_booked_in %}  
    <form action="/bookings/{{ gym_class.id }}" method="POST">
        <form action="/bookings" method="POST">
        <select name="member_id" id="member">
                {% for member in members %}
                {% if member.id not in booked_in and member.membership != "deactivated" %}
                
                <option value="{{ member.id }}">{{ member.name }}</option>
                
        
                {% endif %}
                {% endfor %}
                <input type="Submit" value= "Book">
        </form>
    </header>
        </select>
    {% endif %}
    {% if gym_class.capacity <= num_booked_in %} 
    <p>CLASS FULL</p>

    {% endif %}



<div class = "bookings">
    {% for member in booked_in_members %}
    <div class = "member_booking">
    <stretch><li><img src="/static/img/PinClipart.com_playing-video-games-black_1486972.png" class = "small_member_pic">{{member.name}}    
    <form action="/bookings/{{ member.id }}/{{ gym_class.id }}/delete" method="POST">
    <input class = "delete" type="submit" value="X">
    </form></li></stretch>
</div>
    {% endfor %}

{% for empty_booking in range(booked_in_members | length, gym_class.capacity) %}
<div class = "member_booking">

</div>
{% endfor %}
</div>




</div>
</section>
{% endblock %}