{% extends "base.html" %}
{% block content %}

<h2>Classes for *****</h2>

<div class = "content">

{% for gym_class in gym_classes %}

<section class = "gym_class">
    <img class = "class_img" src = "static/img/Screenshot 2021-12-13 at 10.52.38.png">
    <p>{{ gym_class.title }}</p>
    <p>{{ gym_class.coach.name }}</p>
    <p>{{ gym_class.date }}</p>
    <p>{{ gym_class.start_time }} - {{ gym_class.end_time }}</p>
    <a href="/calendar/class/{{ gym_class.id }}" class="active"><span class="item">View</span>

</section>
{% endfor %}

</div>
{% endblock %}