<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}"> 
{% extends "base.html" %}
{% block content %}

<h2>Calendar</h2>

<div class = "content_calendar">
<div class="month">
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li>December<br><span style="font-size:18px">2021</span></li>
    </ul>
  </div>
  
  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
  
  <ul class="days">
  <a href="calendar/01"><li>1</li></a>
  <a href="calendar/02"><li>2</li></a>
  <a href="calendar/03"><li>3</li></a>
  <a href="calendar/04"><li>4</li></a>
  <a href="calendar/05"><li>5</li></a>
  <a href="calendar/06"><li>6</li></a>
  <a href="calendar/07"><li>7</li></a>
  <a href="calendar/08"><li>8</li></a>
  <a href="calendar/09"><li>9</li></a>
  <a href="calendar/10"><li>10</li></a>
  <a href="calendar/11"><li>11</li></a>
  <a href="calendar/12"><li>12</li></a>
  <a href="calendar/13"><li>13</li></a>
  <a href="calendar/14"><li>14</li></a>
  <a href="calendar/15"><li>15</li></a>
  <a href="calendar/16"><li>16</li></a>
  <a href="calendar/17"><li>17</li></a>
  <a href="calendar/18"><li>18</li></a>
  <a href="calendar/19"><li>19</li></a>
  <a href="calendar/20"><li>20</li></a>
  <a href="calendar/21"><li>21</li></a>
  <a href="calendar/22"><li>22 {{list_of_days.count("22")}}</li></a>
  <a href="calendar/23"><li>23</li></a>
  <a href="calendar/24"><li>24</li></a>
  <a href="calendar/25"><li>25</li></a>
  <a href="calendar/26"><li>26</li></a>
  <a href="calendar/27"><li>27</li></a>
  <a href="calendar/28"><li>28</li></a>
  <a href="calendar/29"><li>29</li></a>
  <a href="calendar/30"><li>30</li></a>
  <a href="calendar/31"><li>31</li></a>
  </ul>
</div>
  {% endblock %}