{% extends "base.html" %}
{% block content %}

<h2>Coaches</h2>


<div class= "create_form">
    <form action="/coaches" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <input type="Submit" value= "Create">
    </div>
    </form>
</div>
<div class = "content">

{% for coach in coaches %}

<section class = "coach">
    <img class = "coach_avatar" src = "static/img/PinClipart.com_playing-video-games-black_1486972.png">
    <p>{{ coach.name }}</p>
    <a href="/coaches/{{ coach.id }}/edit">Edit</a>
    <form action="/coaches/{{ coach.id }}/delete" method="POST">
        <input class = "delete" type="submit" value="X">
    </form>
</section>
{% endfor %}
</div>
{% endblock %}