<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/members.css') }}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coaches.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classes.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar_class_view.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">  
    <title>Gym Manager</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <nav>
            <div class="wrapper">
                <div class="sidebar">
                    <div class="profile">
                        <img src="/static/img/Screenshot 2021-12-13 at 10.52.38.png">
                        <h3>user</h3>
                    </div>
                    <ul>
                        <li>
                            <a href="/">
                                <span class="item">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/calendar">
                                <span class="item">Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/gym_classes">
                                <span class="item">Classes</span>
                            </a>
                        </li>
                        <li>
                            <a href="/members">
                                <span class="item">Members</span>
                            </a>
                        </li>
                        <li>
                            <a href="/coaches">
                                <span class="item">Coaches</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="item">Stats</span>
                            </a>
                        </li>
                    </ul>
                </div>
        </nav>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
</body>
</html>