* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.content_calendar {
    position: relative;
    width:1000px;
    margin:45px 100px 100px 370px;
    padding:20px;
    border:1px solid #cccccc;
    background:#f2f2f2; 
    height: auto;
}

.month {
  padding: 50px 25px;
  width: 100%;
  background: #52ab98;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
    border-radius: 10%;
    border:1px solid #b0aeae;
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 100px;
    text-align:justify;
    margin-bottom: 5px;
    font-size:25px;
    color: #777;
}

.days li:hover {
    background-color: #52ab98;
    color: white;
   
  }

.calendar_count {
    font: small-caps bold 80px sans-serif;
    text-align:center;
    color: tomato;
    font-size: 20px;
}
