.gym_class_calendar {
    color: black;
    background-color: seashell;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 7px;
    padding: 25px;
    border-radius: 10px;
    border: 1px;
    border-style: groove;
    width:1000px;
    margin:45px 100px 100px 370px;
}

.small_member_pic {
    height: 40px;
    width: 40px;
}

.booking_header{
    text-align: center;
    align-items: center;
}
 
.member_booking {
    color: blanchedalmond;
    height: 80px;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px;
    border-style: groove;
    border-color: black;
}

.bookings {
    display: flex;
    flex-wrap: wrap;
}

#deactivated {
    background-color: thistle;
}
#standard {
    background-color: rgb(61, 21, 61);
}
#premium {
    background-color: rgb(94, 171, 122);
}

.full {
    color: tomato;
    font-size: 25px;
    font-style: oblique;
}

