
h2 {
    padding-top: 30px;
    margin-left: 60px;
    letter-spacing: 3px;
    font: small-caps bold 63px/1 sans-serif;
    text-align:center;
}

.content {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
    width:1000px;
    margin:30px 100px 100px 370px;
    padding:20px;
    height: auto;
}

.member {
    height: 200px;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px;
    border-style: groove;
    border-color: black;
}

.member_avatar{
        width:50px;
        height: auto;
}

.create_form{
    margin:75px 100px 0px 370px;
    float: left;
}

.delete {
    color: red;
    height: 20px;
    width: 20px;
}

.add_img{
    width:110px;
    height: auto;
}

.add {
    background-color: rgb(49, 175, 145);
    height: 200px;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px;
    border-style: groove;
    border-color: black;
}

#deactivated {
    background-color: thistle;
}
#standard {
    background-color: rgb(61, 21, 61);
}
#premium {
    background-color: rgb(94, 171, 122);
}